/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    margin: 0px;
    padding: 0px;
}

.card-title {
    font-size: 25px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

.accomodation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodation-cards .card {
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 20px;
    width: 25%;
    height: 300px;
}

.accomodation-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.accomodation-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.accomodation-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.accomodation-cards .card-subtitle {
    margin: 0;
}

.accomodation-cards .card-rating {
    margin-bottom: 5px;
}

.card-column {
    display: flex;
    justify-content: space-around;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 25%;
    height: 200px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/*****Things to Do ******/

.Things-to-do-card {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.Things-to-do-card .card {
display: inline-block;
width: 20%;
height: 439px;
padding: 0, 30px;
}

.Things-to-do-card .card img {
    height: 380px;
    width: 100%;
    object-fit: fill;
}


header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-top: 0px;
    padding-top: 0px;
}

img {clear: both;
    height: 40px;
    width: 80px;
    margin-top: 15px;
    padding-top: 20px;
}

li {
    display: inline-block;
    font-size: larger;
    
}

ul {
    display: flex;
    margin-top: 0px;
    padding: 0px;
    margin-right: 0px;
    
}

a {
  text-decoration: none;
  color: black;
  
}

nav {
    width: 500px;
}

nav ul li a{
    display: inline-block;
    padding-top: 15px;
    position: relative;
}

nav ul li a::after{
    position: absolute;
    width: 100%;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -45%;
}

nav ul li a:hover::after {
    border-top: 2px solid #0065FC;
}

nav ul li a:hover {
    color: #0065FC;
}

main p {
    font-size: x-large;
    font-weight: 500;
    margin-top: 5px;
}

main form {
    display: inline-block;
    align-content: center;
    height: 49px;
    width: 338px;
    margin-bottom: 50px;
    border: 1px;
    border-radius: 15px
}

main form img {
    height: 49px;
    width: 50px;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

.search-input {
    height: 49px;
    width: 190px;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.search-button {
    height: 49px;
    width: 80px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

/* filter section */

.filters {
    display: flex;
    align-items: center;
}

.filter-button {
    display: flex;
    border: 2px solid;
    border-color: #F2F2F2;
    border-radius: 25px;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.filter-img {
    height: 22px;
    width: 22px;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 5px;
}

main div a:hover {
    background-color: #DEEBFF;
}

.info {
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 25px;
    border-color: #F2F2F2;
    margin-top: 0px;
    padding: 8px;
    margin-right: 10px;

}

.info-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-word {
    font-weight: 300;
    margin-bottom: 5px;
}


/* Footer */

.footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
} 

.footer-section {
    margin-right: 200px;
    margin-left: 25px;
}

footer li {
    padding-bottom: 15px;
}

