/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    max-width: 1440px;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    margin: 0px;
    padding: 0px;
}

.card-title {
    font-size: 25px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    height: 660px;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

.accomodation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodation-cards .card {
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 20px;
    width: 30%;
    height: 210px;
}

.accomodation-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.accomodation-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.accomodation-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: medium;
}

.accomodation-cards .card-subtitle {
    margin: 0;
    font-size: small;
}

.accomodation-cards .card-rating {
    margin-bottom: 5px;
}

.card-column {
    display: flex;
    justify-content: space-around;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
    height: 150px;
}

.popular-cards img {
    width: 25%;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size:medium ;
}

.popular-cards .card-subtitle {
    margin: 0;
    font-size: small;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/*****Things to Do ******/

.things-to-do {
    margin-top: 50px;
}

.Things-to-do-card {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.Things-to-do-card .card {
display: inline-block;
width: 23%;
height: 439px;
padding: 0, 30px;
}

.Things-to-do-card .card img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Things-to-do-card h2 {
    font-size: larger;
}


header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-top: 0px;
    padding-top: 0px;
}

img {clear: both;
    height: 40px;
    width: 80px;
    margin-top: 15px;
    padding-top: 20px;
}

li {
    display: inline-block;
    font-size: larger;
    
}

ul {
    display: flex;
    margin-top: 0px;
    padding: 0px;
    margin-right: 0px;
    justify-content: flex-end;
    
}

a {
  text-decoration: none;
  color: black;
  
}

nav {
    width: 500px;
}

#li1 {
    padding-right: 150px;
}

nav ul li a{
    display: inline-block;
    padding-top: 15px;
    position: relative;
}

nav ul li a::after{
    position: absolute;
    width: 100%;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -45%;
}

nav ul li a:hover::after {
    border-top: 2px solid #0065FC;
}

nav ul li a:hover {
    color: #0065FC;
}

main p {
    font-size: x-large;
    font-weight: 500;
    margin-top: 5px;
}

main form {
    display: flex;
    align-content: center;
    height: 60px;
    width: 338px;
    margin-bottom: 50px;
    border-radius: 15px
}

main form img {
    height: 65px;
    width: 60px;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

.search-input {
    height: 60px;
    width: 190px;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    border-top: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
}

.search-button {
    height: 65px;
    width: 80px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #0065FC;
    border-radius: 15px;
    
}

input{
    font-size: large ;
}

.button-image {
    height: 60px;
}

/* filter section */

.filters {
    display: flex;
    align-items: center;
}

.filter-button {
    display: flex;
    border: 2px solid;
    border-color: #F2F2F2;
    border-radius: 25px;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.filter-img {
    height: 22px;
    width: 22px;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 5px;
}

main div a:hover {
    background-color: #DEEBFF;
}

.info {
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 25px;
    border-color: #F2F2F2;
    margin-top: 0px;
    padding: 8px;
    margin-right: 10px;

}

.info-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-word {
    font-weight: 300;
    margin-bottom: 5px;
}


/* Footer */

.footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
} 

.footer-section {
    margin-right: 200px;
    margin-left: 25px;
}

footer li {
    padding-bottom: 15px;
}
    

@media all and (max-width: 1024px) {
    nav {
        display: flex;
        justify-content: end;
    }

    main form {
        width: 100%;
    }

    main p {
        font-size: medium;
    }

    .search-input {
        width: 300px;
    }

    .search-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .filter-button h2 {
        font-size: large;
    }

    .accommodation-and-popular {
        display: block;
    }

    .accommodation {
        width: 100%;
    }

    .accomodation-cards .card {
    width: 30%;
    height: 200px;
    }

    .accomodation-cards .card .card-title {
        font-size: medium;
        margin-top: 0;
    }

    .accomodation-cards .card .card-subtitle {
        font-size: small;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: inline-flex;
        justify-content: space-between;
    
    }

    .popular-cards .card {
       width: 30%;
       height: 150px;
    ;
    
    }


    .popular-cards img {
       width: 30%;
       height: 150px;
    }

    .popular-cards .card-title {
        font-size: 15px;
    }

    .popular-cards .card-subtitle {
        font-size: 15px;
    }

    .Things-to-do {
        padding-top: 50px;
    }

    .Things-to-do-card .card {
        width: 22%;
        height: 260px;
    }

    .Things-to-do-card .card img {
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .Things-to-do-card h2 {
        font-size: 1em;
    }

    .footer .footer-section h2 {
        font-size: large;
    }

    .footer .footer-section .footer-column li {
        font-size: medium;
    }
}

@media all and (max-width: 768px) {
    
.main-container {
    padding: 0px;
}

    header {
        display: block;
        padding-bottom: 0px;
    }
    
    img {
       margin-left: 350px;
    }

    header nav {
        display: flex;
        justify-content: center;
    }

    nav {
        width: 100%;
    }

    #li1 {
        padding-right: 0;
    }

    nav ul {
        width: 100%;
        justify-content: space-around;
    }

    nav ul li {
        font-size: xx-large;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    nav ul li a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 0px;
        width: 100%;

    }

    nav ul li a:hover::after {
        border-top: 0;
    }

    main h1 {
        font-size:xxx-large;
        margin-bottom: 0;
    }

    main p {
        font-size: xx-large;
    }

    main form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .button-text {
        display: none;
    }

    .button-image {
        display: inline-block;
        width: 40%;
        margin-top: 10%;
        background-size: cover;
        background-position: center;
      }
    
    .search-input {
        width: 70%;
    }

    .search-button {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .filters {
        display: inline-block;
    }

    .filter-button {
        width: 300px;
        height: 80px;
        display: inline-flex;
        margin-top: 30px;
        margin-right: 20px;
        border: 4px solid;
        border-color: #F2F2F2;
        justify-content: center;
        border-radius: 40px;
    }

    .filter-button h2 {
        font-size: xx-large;
    }

    .filter-img {
        margin-left: 0px;
    }

    .info-line {
        margin-top: 40px;
    }

    .info-line img {
        margin-left: 0px;
    }

    .info-word {
        font-size: x-large;
    }

    .accommodation-and-popular section {
        border-radius: 0px;
    }

    .accommodation-and-popular {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-title {
        font-size: xxx-large;
    }

    .popular-cards {
        display: block;
    }

    .popular-cards .card {
        width: 100%;
    }

    .popular-cards .card-title {
        font-size: 25px;
    }

    .popular-cards .card-subtitle {
        font-size: 23px;
    }

    .popular-cards .card-rating {
        font-size: x-large;
    }

    .accomodation-cards .card-column {
        display: block;
    }

    .accomodation-cards .card {
        width: 100%;
        height: 300px;
    }

    .accomodation-cards img {
        height: 200px;
    }

    .accomodation-cards .card-title {
        font-size: x-large;
    }

    .accomodation-cards .card-subtitle {
        font-size: 20px;
    }

    .accomodation-cards .card-rating {
        font-size: larger;
    }

    .accommodation-and-popular .accommodation {
        background-color: #ffffff;
    }

    .things-to-do h2 {
        font-size: Xxx-large;
    }

    .Things-to-do-card {
        display: inline-block;
        width:100%;

    }

    .Things-to-do-card .card {
        display: block;
        width: 90%;
        height: 300px;
        margin-top: 30px;
    }

    .Things-to-do-card .card img {
        height: 200px;
    }

    .Things-to-do-card h2 {
        font-size: x-large;
    }

    .footer {
        display: block;
    }

    .footer .footer-section h2 {
        font-size: x-large;
    }

    .footer .footer-section .footer-column li {
        font-size: x-large;
    }



   
}